{% extends "base.html" %}

{% block cus_style %}
    body {
        padding-top: 56px;
    }

    @media (min-width: 992px) {
        body {
            padding-top: 56px;
        }
    }
{% endblock %}

{% block nav_home %}nav-link active{% endblock %}
{% block nav_gallery %}nav-link{% endblock %}

{% block content %}
<!-- Page Content -->
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            {% if not session.logged_in %}
            <h1 class="mt-5">Welcome, visitor</h1>
            <p class="lead">
                Please <a href="{{url_for('login_form')}}">Login</a> for more content,
                or <a href="{{url_for('signup_form')}}">sign up</a> for a new account.
            </p>
            {% else %}
            <h1 class="mt-5">Welcome back, {{session.username}}</h1>
            <p class="lead">
                Have new images to share? Go to your <a href="{{url_for('gallery')}}">gallery</a> !
            </p>
            {% endif %}
            <ul class="list-unstyled">
                <li>ECE1779-A1</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}



