{% extends "base.html" %}

<!-- Custom styles for this template -->
{% block cus_style %}
body {
padding-top: 56px;
}
@media (min-width: 992px) {
body {
padding-top: 56px;
}
}
}

<link href="{{url_for('static', filename='resources/css/thumbnail-gallery.css')}}" rel="stylesheet">
{% endblock %}

{% block nav_home %}nav-link{% endblock %}
{% block nav_gallery %}nav-link active{% endblock %}

{% block content %}
<!-- Page Content -->
<br>
<div class="container">
    <h1 class="my-4 text-center text-lg-left">Gallery</h1>
    <ul class="list-unstyled">
        Click <a href="{{url_for('image_upload')}}">here</a> to upload more images
    </ul>
    <div class="row text-center text-lg-left">
        {% for image in images %}
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="{{url_for('full_image', username=session.username, image=image)}}" class="d-block mb-4 h-10">
                    <img class="img-fluid img-thumbnail" src="{{url_for('static', filename=image)}}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ECE1779-A1 2017</p>
    </div>
    <!-- /.container -->
</footer>

{% endblock %}
<!-- /.container -->
